<section class="product bg-light py-3">
    <div class="container ">
        <h1>Products Component</h1>
        <div class="row">
            @for (product of productList; track product.id) {
                <div class="col-md-3 g-4">
                    <div class="card">
                        <img class="card-img-top" [src]="product.imageCover" alt="Title" />
                        <div class="card-body">
                            <h4 class="card-title">Title:{{product.title}}</h4>
                            <p class="card-text">Description:{{product.description}}</p>
                            <!-- <p class="card-text">Quantity:{{product.quantity}}</p>
                            <p class="card-text">OnSale:{{product.onSale}}</p> -->
                        </div>
                    </div>
                    
                </div>
            }
      
        </div>
    </div>
    <!-- default on idle 
     on interaction
     on hover
     on viewport
     on timer
     -->
     <button class="btn btn-danger text-light" #myBtn>Show</button>

   @defer ( on interaction(myBtn)) {

    <app-recommend></app-recommend>

   }@placeholder {
    <h2>placeholder</h2>
   }@loading {
    <h2>loading...</h2>
   }@error {
    <h2>err</h2>
   }

</section>
